.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c2c2c2;
  cursor: pointer;
}

.normal {
  composes: button;
  width: 25%;
}

.wide {
  composes: button;
  width: 50%;
}
